* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;


}

html,
body {
    width: 100%;
    height: 100%;
}

.loader {
    position: fixed;
    background-color: #888;
    z-index: 9999;
    height: 100%;
    width: 100%;
    color: rgb(26, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1vh;
    flex-wrap: wrap;
}

.progres {
    width: 80px;
    height: 2px;
    background: white;
    overflow: hidden;
    border-radius: 20%;
}

.progres-bar {
    width: 0;
    height: 100%;
    background: black;
    border-radius: 20%;

}

#percent {
    font-size: 2vh;
    font-weight: 500;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.boundingelem {
    transform: translateY(100%);
}

#minicircle {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    height: 10px;
    width: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: white;
}

#textt {
    opacity: 0;
    transition: all 0.2s ease;
}

#main {
    width: 100%;
    background-color: black;
}

#hero {
    position: relative;
    color: white;
    height: 100vh;
    width: 100%;
    background-color: black;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    color: white;

}

#nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;

}

#heading {
    margin-top: 90px;

}

#heading h1 {

    margin-left: 30px;
    font-size: 9vw;
    font-weight: 600;
    line-height: 1;
    opacity: 0.6;
}

#heading #secondh1 {
    margin-left: 100px;
}

.blocktext {

    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: end;

}

.blocktext h5 {
    text-transform: uppercase;
    text-align: right;
    font-size: 15px;
}

#chotiheadings {
    display: flex;
    margin-top: 100px;
    padding-right: 50px;
    align-items: end;
    margin-top: 100px;
    flex-direction: column;
}

@media (max-width:768px) {
    #chotiheadings {
        display: flex;
        margin-top: 150px;
        padding-right: 20px;
        align-items: end;
        flex-direction: column;
    }
}

#chotiheadings h5 {
    text-transform: capitalize;
    margin-top: .5vw;
    text-align: right;
    font-size: 1.5vw;
}

@media (max-width:768px) {
    #chotiheadings h5 {
        text-transform: capitalize;
        margin-top: 1vw;
        text-align: right;
        font-size: 3vw;
    }
}

#herofooter #iconset {
    display: flex;
    align-items: center;
}

#herofooter {
    padding: 0 2vw;
    position: absolute;
    width: 100%;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#herofooter a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;

}

@media (max-width:768px) {
    #herofooter a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-size: 1.5vh;

    }
}

#herofooter #iconset {
    display: flex;
    gap: 5px;
}


#herofooter .circle {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}

#second {
    color: white;
    padding-right: 10vw;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    background-color: black;
}

@media (max-width:768px) {
    #second {
        color: white;
        padding-right: 10vw;
        padding-top: 200px;
        width: 100%;
        height: 100vh;
        background-color: black;
    }
}

.elem {
    position: relative;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7vw;
    opacity: .7;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    opacity: 0;
    /* instead of display none */
    pointer-events: none;
    /* prevents mouse blocking */
    height: 140%;
    position: absolute;
    z-index: 999;
    transform: translate(-50%, -50%);
}



#about {
    display: flex;
    align-items: start;
    justify-content: center;
    color: white;
    max-width: 1450px;
    width: 100%;
    background-color: black;
    padding: 25vw 5vw;
    padding-left: 20vw;
    gap: 40px;
}

@media (max-width: 768px) {
    #about {
        display: grid;
        align-items: center;
        justify-content: center;
        color: white;
        width: 90%;
        background-color: black;
        padding: 2vw 5vw;
        padding-left: 15vw;
        gap: 35px;
    }
}

#textabout {
    width: 55vh;
}

#textabout h5 {
    text-transform: uppercase;
    opacity: .8;
    margin-bottom: 10px;

}

#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}

#textabout a {
    padding: 12px 22px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    font-size: 4vh;
}

@media (max-width: 768px) {
    #textabout a {
        padding: 12px 22px;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        border-radius: 100px;
        font-size: 3vh;
    }
}

#about img {
    width: 220px;

}

#subscribe {
    color: white;
    padding: 20px 30px;
    background-color: black;
    padding-bottom: 7vw;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3 {
    text-transform: uppercase;
    opacity: .6;
    font-size: 14px;
    margin-top: 10px;
}

#footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    font-size: 3vh;
}

@media (max-width:750px) {
    #footer {
        background-color: black;
        color: white;
        display: grid;
        align-items: center;
        justify-content: stretch;
        padding: 5vh 3vh;
        font-size: 2vh;
    }
}

@media (max-width:768px) {
    #footerleft {
        display: flex;
        justify-content: space-between;
    }
}

#footerleft {
    display: flex;
    gap: 20px;
}

#footerright {
    display: flex;
    gap: 20px;
}



#footer a {
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    gap: 2vh;
}